* {
  margin: 0;
  padding: 0;
}

.main__container {
  height: 100vh;
  width: 100vw;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phone__container {
  width: 300px;
  background-color: white;
  border-radius: 8px;
}

.phone__field {
  height: 40px;
  margin: 10px;
  padding: 10px;
  background-color: #efefef;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone__keypad {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.phone__key {
  background-color: #fefefe;
  width: 90px;
  border: 1px solid #eee;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 18px;
}

.phone__back {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
